<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MessageMapper">

    <select id="selectChatRoomList" resultType="com.kh.mango.message.domain.Message">
        SELECT U.USER_NO AS USER_NO, U.USER_ID AS USER_ID, U.USER_NAME AS USER_NAME, R1.CHAT_ROOM_NO AS CHAT_ROOM_NO FROM USER_TBL U join CHAT_ROOM_USER_TBL R1 ON U.USER_NO = R1.USER_NO_1 OR U.USER_NO = R1.USER_NO_2 WHERE USER_NO != #{userNo}
    </select>

    <select id="selectUserByUserNo1" resultType="com.kh.mango.message.domain.Message">
        SELECT USER_ID, USER_NAME FROM USER_TBL WHERE USER_NO = #{userNo}
    </select>

    <select id="selectChatRoom" resultType="com.kh.mango.message.domain.Message">
        SELECT CHAT_ROOM_NO FROM CHAT_ROOM_USER_TBL WHERE (USER_NO_1 = #{userNo1} AND USER_NO_2 = #{msgSendNo}) OR (USER_NO_1 = #{msgSendNo} AND USER_NO_2 = #{userNo1})
    </select>

    <insert id="insertChatRoomUser">
        INSERT INTO CHAT_ROOM_USER_TBL VALUES(SEQ_CHAT_ROOM_NO.NEXTVAL, #{userNo1},#{msgSendNo})
    </insert>
    <insert id="insertChatRoom">
        INSERT INTO CHAT_ROOM_TBL VALUES((SELECT CHAT_ROOM_NO FROM CHAT_ROOM_USER_TBL WHERE (USER_NO_1 = #{userNo1} AND USER_NO_2 = #{msgSendNo}) OR (USER_NO_1 = #{msgSendNo} AND USER_NO_2 = #{userNo1})), (SELECT USER_NAME FROM USER_TBL WHERE USER_NO = #{userNo1}))
    </insert>
    <insert id="insertSendMsg">
        INSERT INTO MSG_TBL VALUES(SEQ_MSG_NO.NEXTVAL,(SELECT CHAT_ROOM_NO FROM CHAT_ROOM_USER_TBL WHERE (USER_NO_1 = #{userNo1} AND USER_NO_2 = #{msgSendNo}) OR (USER_NO_1 = #{msgSendNo} AND USER_NO_2 = #{userNo1})),#{msgSendNo},SYSTIMESTAMP,#{msgContent})
    </insert>

    <delete id="deleteChatRoom">
        DELETE FROM CHAT_ROOM_USER_TBL WHERE (USER_NO_1 = #{userNo1} AND USER_NO_2 = #{userNo2}) or (USER_NO_1 = #{userNo2} AND USER_NO_2 = #{userNo1})
    </delete>

</mapper>