<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MessageMapper">

    <select id="selectChatRoomJoinRoomUser" resultType="com.kh.mango.message.domain.Message">
        SELECT A.CHAT_ROOM_NO, A.CHAT_ROOM_NAME, B.USER_NO_1, B.USER_NO_2 FROM CHAT_ROOM_TBL A JOIN CHAT_ROOM_USER_TBL B ON A.CHAT_ROOM_NO = B.CHAT_ROOM_NO
    </select>

    <insert id="insertChatRoomUser">
        INSERT INTO CHAT_ROOM_USER_TBL VALUES(SEQ_CHAT_ROOM_NO.NEXTVAL, #{userNo1},#{userNo2})
    </insert>
    <insert id="insertChatRoom">
        INSERT INTO CHAT_ROOM_TBL VALUES((SELECT CHAT_ROOM_NO FROM CHAT_ROOM_TBL WHERE USER_NO_1 = #{userNo1} AND USER_NO_2 = #{userNo2}), (SELECT USER_NAME FROM USER_TBL WHERE USER_NO = #{userNo1}))
    </insert>


</mapper>