.myPageContentContainer {
    height: 500px;
    border-bottom: 1px solid #ccc;
}

.navbar-custom{
    height: 103vh;
}

.profile{
    width: 100%;
    height: 300px;
    display: block;
}

.profile-image{
    width: 300px;
    height: 300px;
    background-image: url("/static/img/abstract-user-flat-3.svg");
}

#navbar-mypage{
    height: 103%;
}
#d-flex-mypage{

    padding-bottom: 1.5rem;
}
.navbar {
    margin-right: 32px;
}
.profile{
    width: 100%;
    height: 260px;
    float: left;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
}
.profile-img {
    width: 12%;
    height: 190px;
    margin-left: 70px;
    margin-top: 45px;
    border-radius: 150px;
    background-image: url(img/abstract-user-flat-3.svg);
    background-position: center;
    background-size: 250px;
    background-repeat: no-repeat;
    float: left;
}
.greeting {
    padding-left: 32px;
}
#body-mypage {
    padding-left: 0;
    padding-right: 0;
}

.profile-name{
    padding-top: 80px;
    width: 300px;
    height: 100px;
    margin-left: 340px;
}

.profile-letter{
    width: auto;
    margin-top: 80px;
    margin-left: 62px;
    display: inline-block;
}

#mypage-content-container{
    float: left;
    width: 100%;
    height: 500px;
    margin-top: 0;
    display: flex;
}

.mypage-content-left{
    width: 40%;
    height: 100%;
    padding-top: 100px;
    float: left;
    /*border: 1px solid white;*/
}
.mypage-content-right{
    padding-left: 100px;
    padding-top: 30px;
    height: 100%;
    width: 60%;
    background-color: transparent;
}

.point{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.point-value{
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.3);;
    padding: 20px 30px 20px 10px;
    border-radius: 30px;
    justify-content:right;
    width: 600px;
}

.point-value-text{
    margin-left: 20px;
}

.point-button-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 43px;
}

.point-button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color:transparent;
    color: white;
    border-color: white;
}
#myPageDropDown{
    margin-right: 20px;
}

*{
    box-sizing: border-box;
}

.que:first-child{
    border-top: 1px solid black;
}

.que{
    position: relative;
    padding: 17px 0;
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid #dddddd;
    width: 800px;

}

.que::before{
    display: inline-block;
    font-size: 13px;
    color: #006633;
    margin: 0 5px;
}

.que.on>span{
    font-size: 20px;
    /*font-weight: bold;*/
    color: #f9e000;
}

.anw {
    display: none;
    overflow: hidden;
    font-size: 14px;
    padding: 27px 0;
    width: 800px;
    background-color: transparent;
    opacity: 0.5;
}

.anw::before {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 0 5px;
}

.arrow-wrap {
    position: absolute;
    top:50%; right: 10px;
    transform: translate(0, -50%);
}

.que .arrow-top {
    display: none;
}
.que .arrow-bottom {
    display: block;
}
.que.on .arrow-bottom {
    display: none;
}
.que.on .arrow-top {
    display: block;
}

body {
    height: 1100px;
}

table {
    width: 100%;
}

tr {
    border-bottom: 1px solid white;
}

td {
    height: 40px;
}

#myPagePlayBar {
    position: fixed;
}

tr:hover {
    background-color: #666666;
    opacity: 0.8;
}

/*모달창*/
.my_modal_all {
    display: none;
    width: 600px;
    padding: 20px 60px;
    border: 1px solid #888;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    background-color: #343a40;
    font-family: 'Noto Sans KR', sans-serif;
    background-image: linear-gradient(to top,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212,
    #161419,
    #1a151e,
    #201522,
    #311327,
    #430d24,
    #53051b,
    #5e0506);
    background-size: cover;
    overflow: auto;
    overflow-x: hidden;
    background-attachment: fixed;
}



.my_modal_all .modal_close_btn {
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 10px;*/
}


#button-area {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 15px;
}

.add-btn {
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}
.msg-toggle-btn{
    width: 40px;
    height: 40px;
    background-image: url("img/mailbox.svg");
    background-color: transparent;
    border: none;
}
.msg-toggle-btn .active{
    display: flex;
    position: relative;
    top: 125px;
    justify-content: right;
}
.msg-area{
    background-color: black;
    width: 400px;
    height: 300px;
    position: relative;
    top: 180px;
    z-index: 9999999999;
    border-radius: 25px;
    display: none;
}
.msg-area .active{
    display: flex;
}