@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

.myPageContentContainer {
    height: 500px;
    border-bottom: 1px solid #ccc;
}

.navbar-custom{
    height: 103vh;
}

.profile{
    width: 100%;
    height: 300px;
    display: block;
}

.profile-image{
    width: 300px;
    height: 300px;
    background-image: url("/static/img/abstract-user-flat-3.svg");
}

#navbar-mypage{
    height: 103%;
}
#d-flex-mypage{

    padding-bottom: 1.5rem;
}
.navbar {
    margin-right: 32px;
}
.profile{
    width: 100%;
    height: 260px;
    float: left;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
}
.profile-img {
    width: 12%;
    height: 190px;
    margin-left: 70px;
    margin-top: 45px;
    border-radius: 150px;
    background-image: url(img/abstract-user-flat-3.svg);
    background-position: center;
    background-size: 250px;
    background-repeat: no-repeat;
    float: left;
}
.greeting {
    padding-left: 32px;
}
#body-mypage {
    padding-left: 0;
    padding-right: 0;
}

.profile-name{
    padding-top: 80px;
    width: 400px;
    height: 170px;
    margin-left: 340px;
}

.profile-letter{
    width: auto;
    margin-top: 10px;
    margin-left: 75px;
    display: inline-block;
}
.profile-letter-input{
    background-color: transparent;
    width: 700px;
    height: 78px;
    color: #dedee0;

}

#mypage-content-container{
    float: left;
    width: 100%;
    height: 500px;
    margin-top: 0;
    display: flex;
}

.mypage-content-left{
    width: 40%;
    height: 100%;
    padding-top: 100px;
    float: left;
    /*border: 1px solid white;*/
}
.mypage-content-right{
    padding-left: 100px;
    padding-top: 30px;
    height: 100%;
    width: 60%;
    background-color: transparent;
}

.point{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.point-value{
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.3);;
    padding: 20px 30px 20px 10px;
    border-radius: 30px;
    justify-content:right;
    width: 600px;
}

.point-value-text{
    margin-left: 20px;
}

.point-button-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 43px;
}

.point-button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color:transparent;
    color: white;
    border-color: white;
}
#myPageDropDown{
    margin-right: 20px;
}

*{
    box-sizing: border-box;
}

.que:first-child{
    border-top: 1px solid black;
}

.que{
    position: relative;
    padding: 17px 0;
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid #dddddd;
    width: 800px;

}

.que::before{
    display: inline-block;
    font-size: 13px;
    color: #006633;
    margin: 0 5px;
}

.que.on>span{
    font-size: 20px;
    /*font-weight: bold;*/
    color: #f9e000;
}

.anw {
    display: none;
    overflow: auto;
    font-size: 14px;
    padding: 27px 0;
    width: 800px;
    background-color: transparent;
    opacity: 0.5;
    height: 200px;
}

.anw::before {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin: 0 5px;
}

.arrow-wrap {
    position: absolute;
    top:50%; right: 10px;
    transform: translate(0, -50%);
}

.que .arrow-top {
    display: none;
}
.que .arrow-bottom {
    display: block;
}
.que.on .arrow-bottom {
    display: none;
}
.que.on .arrow-top {
    display: block;
}

body {
    height: 1100px;
}

table {
    width: 100%;
}

tr {
    border-bottom: 1px solid white;
}

td {
    height: 40px;
}

#myPagePlayBar {
    position: fixed;
}

tr:hover {
    background-color: #666666;
    opacity: 0.8;
}

/*모달창*/
.my_modal_all {
    display: none;
    width: 600px;
    padding: 20px 60px;
    border: 1px solid #888;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    background-color: #343a40;
    font-family: 'Noto Sans KR', sans-serif;
    background-image: linear-gradient(to top,
    #121212,
    #121212,
    #121212,
    #121212,
    #121212,
    #161419,
    #1a151e,
    #201522,
    #311327,
    #430d24,
    #53051b,
    #5e0506);
    background-size: cover;
    overflow: auto;
    overflow-x: hidden;
    background-attachment: fixed;
}



.my_modal_all .modal_close_btn {
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 10px;*/
}


#button-area {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 15px;
}

.add-btn {
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}


.modify-btn{
    background-image: url("img/modify.svg");
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: relative;
    top: 0;
    right: 0px;
    background-size: cover;
    border: none;
}


.profile-name-input{
    font-size: 32px;
    /*width: auto;*/
    box-sizing: content-box;
    width: 275px;
    background-color: transparent;
    color: #dedee0;
    margin-right: 40px;
}

.modify-submit-btn{
    width: 65px;
    height: 45px;
    border-radius: 10px;
    background-color: transparent;
    color: #dedee0;
    font-size: 20px;
}

.search_in{display: block;margin: 1px 2px 3px 4px;}
.search_in input{width:100%}

.msg-toggle-btn{
    width: 40px;
    height: 40px;
    background-image: url("img/mailbox.svg");
    background-color: transparent;
    border: none;
    position: relative;
    top: 0px;
    right: -5px;
}

.msg-toggle-btn:after{
    position: absolute;
    top: 180px;
    right: 180px;
}
.msg-area{
    background-color: transparent;
    width: 700px;
    height: 500px;
    position: relative;
    top: 280px;
    z-index: 9999999999;
    border-radius: 25px;
    display: none;
    overflow: auto;
    border: 1px solid #ccc;
    flex-direction: row;
}
.msg-area::-webkit-scrollbar{
    width: 0;
}
.msg-area .active{
    display: flex;
    justify-content: center;
}
/*#msg-box{*/
/*    display: flex;*/
/*}*/
.msg-area span{
    /*opacity: 1;*/
    /*font-size: 30px;*/
    /*position: absolute;*/
    /*top: 30px;*/
    /*left: 50px;*/
}
.msg-user-list-ul{
    position: absolute;
    top: 60px;
    left: -2px;
    font-size: 22px;
    overflow: auto;
    height: 370px;
    width: 205px;
    cursor: auto;
}

.msg-user-list-ul::-webkit-scrollbar{
    width: 0;
}

.msg-text{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    height: 60px;
    padding-left: 10px;
    padding-top: 7px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.msg-user-list-ul li {
    width: 203px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 20px;
    color: black;
    background-color: white;
    cursor: pointer;
    height: 60px;
}
.msg-user-list-ul li > p {
    position: relative;
    top: -10px;
    left: 11px;
    font-size: 20px;
    color: #ccc;
}
.msg-user-list-ul li:hover{
    background-color: #F2F3F5;
}
.msg-user-list-box{
    width: 29%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;

}
.msg-user-list{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 443px;
    background-color: white;
    opacity: 1;
    float: left;
    overflow: auto;
    cursor: auto;
}

.msg-user-list::-webkit-scrollbar{
    width: 0;
}

.new-msg-user-list{
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 100%;
    text-align: center;
    border-top: 1px solid black;
    background-color: white;
    color: black;
    padding-top: 10px;
    font-weight: bold;
    float: left;
}
.new-msg-user-list:hover{
    background-color: #ccc;
}
.msg-content-box{
    font-family: 'Noto Sans KR', sans-serif;
    width: 71%;
    height: 448px;
    float: left;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #F2F3F5;
    cursor: auto;

}

.msg-input-box{
    width: 69%;
    height: 10%;
    /*background-color: #5e0506;*/
}
.msg-input{
    width: 390px;
    height: 40px;
    position: relative;
    border-radius: 25px;
    left: 16px;
    top: -4px;
    padding-left: 25px;
    border : 1px solid #ccc;
}
.msg-input-btn{
    position: relative;
    right: 30px;
    top: 4px;
    width: 30px;
    height: 30px;
    background-image: url("img/msg_send.svg");
    border: none;
    background-color: transparent;
}
.msg-room-close{
    position: relative;
    top: 6px;
    right: 5px;
    width: 70px;
    border-radius: 15px;
    background-color: white;
    color: red;
    font-weight: 700;
}

.msg-user-search-box{
    font-family: 'Noto Sans KR', sans-serif;
    width: 71%;
    height: 100%;
    float: left;
    background-color: white;
    flex-direction: column;
    overflow: auto;
}
.msg-user-search-bar{
    width: 450px;
    height: 40px;
    position: relative;
    border-radius: 25px;
    left: 16px;
    top: 10px;
    padding-left: 25px;
    border : 1px solid #ccc;
    margin-bottom: 6px;
}
.msg-search-box-ul{
    display: block;
    color: black;
    margin-top: 15px;
}
.msg-search-box-ul li {
    color: black;
    /*width: 200px;*/
    height: 50px;
    padding-left: 20px;
}
.msg-search-box-ul li:hover{
    background-color: #F2F3F5;
}
.msg-user-list-result{
    width: 150px;
    height: 50px;
    color: black;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10px;
    padding-top: 3px;
    padding-left: 10px;
}

.msg-user-list-result:hover{
    background-color: #F2F3F5;
}
.msg-search-box-ul > li :hover{
    background-color: #F2F3F5;
}

.msg-user-list-result-span{
    position: relative;
    top: -5px;
    font-size: 15px;
    color:#ccc;
}

.msg-user-search-box-close{
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-image: url("img/backicon.svg");
    background-color: white;
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
}
.msg-user-search-box-close:hover{
    background-color: #F2F3F5;
}

.msg-box{
    width: 100%;
    /*height: 90%;*/
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #F2F3F5;
    /*overflow: auto;*/
    padding-left: 10px;
    color : black;
    padding-bottom: 10px;
    overflow-y: scroll;
}
.msg-box *{
    margin: 0;
    font-size: 20px;
}

.receive-msg-p{
    position: relative;
    top: 7px;
    font-size: 12px;
}

.msg-box ul li {
    border: 1px solid black;
    box-sizing: content-box;
    padding: 5px 10px 5px 10px;
    display: inline-block;
    border-radius: 5px;
    margin: 5px;
    max-width: 170px;
    white-space: normal;
    text-overflow: clip;
    word-break: break-all;
}

.receive-msg-area-container{
    display: flex;
}

.send-msg-area-container{
    display: flex;
    justify-content: flex-end;
}
.send-msg-area{
    display: flex;
}
