.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#main-all {
    height: 100%;
}
#content_box {
    margin: 60px 150px;
    padding: 60px 60px;
    background-color: rgba(0,0,0,0.2);
}

.main-header {
    margin-top: 50px;
}
h2 {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    margin-left: 40px;
}
aside {
    width: 20%;
    display: flex;
    justify-content: right;
    height: 550px;
    display: block;
    float: left;
}
.side_td {
    font-size: 25px;
}

.notice_content_container {
    margin: 0px 0px;
}
h3 {
    font-size: 25px;
}
h3, small {
    margin-left: 40px;
}
small {
    color: #ccc;
    font-size: 13px;
}
.main_content {
    margin-left: 50px;
    padding-left: 10px;
    padding-top: 10px;
    width: 90%;
    height: 415px;
    font-size: 20px;
    border: none;
    border-bottom: 10px;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}
.trade-detail-span{
    position: relative;
    left: 75%;
}
.trade-detail-price-div{
    position: relative;
    left: 75%;
    width: 400px;
    height: 20px;
    font-size: 25px;
}
.main_content:focus {
    outline: none;
}

.div-a-tag {
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
}
.a-tag {
    margin: 30px 10px;
    border-radius: 15px;
    line-height: initial;
    color: white;
    background-color:transparent;
    border: 1px solid #ccc;
    padding: 5px 10px;
}
.a-tag:hover {
    color: black;
    background-color: white;
}
/* 댓글 */
.comment-all {
    margin-left: 40px;
    margin-bottom: 50px;
}
.comment_textarea {
    float: left;
    width: 84%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
textarea {
    /*width: 920px;*/
    width: 98%;
    /*height: 50px;*/
    resize: none;
    color: white;
    background-color: transparent;
    padding: 0px 10px;
    border: 1px solid #ccc;
}
#txtArea {

}
.cm_btn {
    /*width: 100px;*/
    width: 9%;
    height: 50px;
    margin-left: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    color: white;
    background-color: transparent;
}
.cm_btn:hover {
    color: black;
    background-color: white;
}
.cmContent_main {
    /*margin-top: 20px;*/
    /*width: 920px;*/
    width: 84%;
    padding: 10px;
    /*border-top: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
}
.cmName {
    margin-bottom: 5px;
}
.comment::-webkit-scrollbar{
    width: 0;
}
.cm_cm {
    border: none;
}
.cm_cm:focus {
    outline: none;
}
.cm_cm::-webkit-scrollbar{
    width: 0;
}
