.myPageContentContainer {
    height: 500px;
    border-bottom: 1px solid #ccc;
}

.profile{
    width: 100%;
    height: 300px;
    display: block;
}

.profile-image{
    width: 300px;
    height: 300px;
    background-image: url("/static/img/abstract-user-flat-3.svg");
}

#navbar-mypage{
    height: 103%;
}
#d-flex-mypage{

    padding-bottom: 1.5rem;
}
.navbar {
    margin-right: 32px;
}
.profile{
    width: 100%;
    height: 280px;
    float: left;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.3);
}
.profile-img {
    width: 12%;
    height: 190px;
    margin-left: 70px;
    margin-top: 45px;
    border-radius: 150px;
    background-image: url(/static/img/abstract-user-flat-3.svg);
    background-position: center;
    background-size: 250px;
    background-repeat: no-repeat;
    float: left;
}
.greeting {
    padding-left: 32px;
}
#body-mypage{
    padding-left: 0;
    padding-right: 0;
}
.profile-name{
    padding-top: 80px;
    width: 300px;
    height: 100px;
    margin-left: 340px;
}
.profile-letter{
    width: auto;
    margin-top: 80px;
    margin-left: 62px;
    display: inline-block;
}
#mypage-content-container{
    float: left;
    width: 100%;
    margin-top: 0;
}
.mypage-content-left{
    width: 40%;
    height: 503px;
    float: left;
    border-right: 0.5px solid rgba(128, 128, 128, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mypage-content-right{
    height: 100%;
}
.point{
    font-size: 40px;
}
.point-value{
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.3);;
    padding: 20px 30px 20px 10px;
    border-radius: 30px;
}
.point-value-text{
    margin-left: 20px;
}
.point-button-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 43px;
}
.point-button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color:transparent;
    color: white;
    border-color: white;
}