.main-header {
    margin-top: 100px;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
h2 {
    padding-bottom: 20px;
    margin-left: 40px;
}