.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
#main-all {
    height: 100%;
}

.main-header {
    margin-top: 50px;
}
h2 {
    padding-bottom: 20px;
    margin-left: 40px;
}
aside {
    width: 20%;
    display: flex;
    justify-content: right;
    height: 550px;
    display: block;
    float: left;
}
.side_td {
    font-size: 25px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
    /*height: 60%;*/
    /*width: ;*/
}

.trade_all_container {
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 102%;
    height: 750px;
    /*border: 1px solid white;*/
    padding-right: 100px;
}
#tr_th {
    /*border-bottom: 1px solid #888888;*/
    background-color: rgba(137,119,173,0.3);
    margin-right: 10px;
    /*background-color: #2e2649;*/
}
.tradeList:hover {
    background-color: rgba(255,255,255,0.3);
}

.trade_all {
    /*border-top: 1px solid #969696;*/
    /*border-bottom: 1px solid #969696;*/
    /*margin-left: 30px;*/
    /*margin-top: 100px;*/
    line-height: 30px;
    border-collapse: collapse;
    line-height: 60px;
    width: 100%;
    margin-left: 30px;
    text-align: left;
    font-size: 20px;
    float: left;
}
.pageSt {
    text-align: center;
}
.pageWr {
    text-align: right;
}

.span-navi{
    letter-spacing: 5px;
}
.select-search{
    cursor: pointer;
}
/** {*/
/*    border: 1px solid white;*/
/*}*/
a {
    color: white;
}
th, td {
    text-align: center;
}
#tr_th {
    /*border-bottom: 1px solid #888888;*/
    background-color: rgba(255,255,255,0.3);
    /*background-color: #2e2649;*/
    height: 30px;
}


.table_subject {
    width: 60%;
}
.table_writer {
}
.table_day {
}
.writer_btn {
    text-align: right;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 100px;
}
.td_page{
    padding-left: 200px;
}
span {
    margin: 0px 10px;
}
.td_wr{
    text-align: right;
    padding-right: 40px;

}
.td_btn{
    border: 1px solid white;
    padding: 0px 10px;
    border-radius: 15px;
    color: white;
    background-color: transparent;
}
.td_btn:hover {
    color: black;
    background-color: white;
}
select {
    color: white;
    border: 0px solid white;
    background-color: transparent;
}
.option {
    color: black;
    background-color: transparent;
}
.input_text {
    width: 300px;
    height: 50px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    color: white;
    border: 1px solid #ccc;
    /*background-color: rgb(233, 233, 233);*/
    background-color:transparent;
    margin: 0px 10px;
}
.input_submit {
    height: 51px;
    border-radius: 15px;
    line-height: initial;
    color: white;
    background-color:transparent;
    border: 1px solid #ccc;
    padding: 0px 10px;
}
.input_submit:hover{
    color: black;
    background-color: white;
}
tr, td {
    /*border: 1px solid white;*/
}