{{>layouts/sidebar}}
{{#loginUser}}
    <link rel="stylesheet" href="myPageStyle.css">
    <script>
        $(document).ready(function () {
            loadingChatRoom();
        });
    </script>
    <!-- sidebar -->
    <main class="body" id="body-mypage">
        <nav class="navbar sticky-top mb-3" id="navbar-mypage">
            <div class="d-flex align-items-center justify-content-between" id="d-flex-mypage">
                <div class="d-flex"></div>
                <!-- <i class="fa-solid fa-chevron-left chevrons"></i><i class="fa-solid fa-chevron-right chevrons"></i> -->
            </div>
            <!--        <button onclick="test111()" value="asdasd" style="width: 30px;height: 30px;"></button>-->
            <div class="d-flex align-items-center" id="rightnav">
<!--                <button type="button" class="modify-btn"></button>-->

                <div style="margin-right: 1rem; display: flex" class="message">

                    <div class="msg-area" id="msg-box">
                        <div class="msg-user-list-box" style=" float: left;">
                            <div class="msg-user-list">
                                <ul class="msg-user-list-ul">
                                </ul>
                            </div>
                            <div class="new-msg-btn">새로운 메시지</div>
                        </div>
                        <div class="msg-content-box">
                            <div class="msg-box">

                            </div>

                        </div>
                        <div class="msg-input-box" style="display: inline-block; flex-direction: row;float:left;">
                            <div class="in"
                                 style=" height: 100%; width: 495px; background-color: #F2F3F5;  float:left;">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="msg-toggle-btn" id="msg-btn" onclick="msgToggle();"></button>
                </div>
                <div class="dropdown" id="myPageDropDown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 25px;">
                        <!-- 유저 이미지 -->
                        {{#loginUser.userFilename}}
                            <img src="{{loginUser.userFilename}}"
                                 style="width: 30px; height: 30px; border-radius: 50%" class="dropdown-pic"/>
                        {{/loginUser.userFilename}}
                        {{^loginUser.userFilename}}
                            <img src="../img/abstract-user-flat-3.svg"
                                 style="width: 30px; height: 30px; border-radius: 50%" class="dropdown-pic"/>
                        {{/loginUser.userFilename}}
                        <!-- 유저이름 -->
                        &nbsp;&nbsp;{{loginUser.userName}}&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/mypage">마이페이지</a></li>
                        <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <input type="hidden" value="{{loginUser.userNo}}" id="userNo">
<!--플레이리스트 추가 페이지 영역-->
<div id="addPlaylist-header">플레이리스트 추가하기</div>

        <!-- 검색 폼 -->
        <nav style="width: 500px" class="navbar sticky-top mb-3">
            <div class="d-flex align-items-center">
                <div>
                    <input type="text" class="mx-4 form-control" id="search-input" placeholder="어떤 음악을 듣고 싶으세요?"
                           onkeyup="search()" style="border-radius: 20px" />
                </div>
            </div>
        </nav>

        <!-- 검색 결과를 표시할 목록 -->
        <ul id="search-results"></ul>



        <!-- 영상이 노출될 영역 -->
        <div id="player" style="display: none;"></div>

</main>
{{/loginUser}}
<script src="message.js"></script>

<script>
    function search() {
        // 검색어 가져오기
        var search_query = document.getElementById('search-input').value;

        // API 호출하기
        var api_key = '5aab513055fea4a2802fbd695ea148a9';
        var limit = 15;
        var search_url = 'https://ws.audioscrobbler.com/2.0/?method=track.search&track=' + search_query + '&api_key=' + api_key + '&format=json&limit=' + limit;

        // var userNo = parseInt($('#userNo').val())

        // 검색 결과 가져오기
        fetch(search_url)
                .then(response => response.json())
                .then(data => {
                    // 검색 결과를 표시할 목록
                    var search_results = document.getElementById('search-results');
                    search_results.innerHTML = '';

                    // 검색 결과에서 각 트랙 정보 가져오기
                    var tracks = data.results.trackmatches.track;
                    for (var i = 0; i < tracks.length; i++) {
                        var track = tracks[i];
                        // 검색 결과를 목록에 추가하기

                        var li = document.createElement('li');
                        li.innerText = track.name + ' - ' + track.artist;
                        li.style.cursor = 'pointer';
                        li.addEventListener('click', function () {
                            // 검색된 곡의 YouTube 비디오 검색
                            var video_query = track.name + ' ' + track.artist + ' official music video';
                            // var video_url = createVideoUrl(video_query);
                            // console.log($(this).text());
                            // var value = ($(this).text()).split('-');
                            // console.log(value);
                            // console.log(($(this).text()).split('-')[0]); // 제목
                            // console.log(($(this).text()).split('-')[1]); // 가수
                            addPlaylist(this);

                            // 비디오 검색 결과 가져오기
                            // fetch(video_url)
                            //         .then(response => response.json())
                            //         .then(data => {
                            //             var video_id = data.items[0].id.videoId;
                            //
                            //             // IFrame Player 생성
                            //             if (!player) {
                            //                 player = new YT.Player('player', {
                            //                     height: '360',
                            //                     width: '640',
                            //                     videoId: video_id,
                            //                     playerVars: {
                            //                         'rel': 0,
                            //                         'controls': 0,
                            //                         'autoplay': 1,
                            //                         'mute': 0,
                            //                         'loop': 1,
                            //                         'playsinline': 1,
                            //                         'playlist': ''
                            //                     },
                            //                     events: {
                            //                         'onReady': onPlayerReady,
                            //                         'onStateChange': onPlayerStateChange
                            //                     }
                            //                 });
                            //                 // 플레이바 업데이트 인터벌 설정
                            //                 progressInterval = setInterval(updateProgressBar, 100);
                            //             } else {
                            //                 // IFrame Player에 비디오 ID 설정
                            //                 player.loadVideoById(video_id);
                            //             }
                            //         });
                        });
                        search_results.appendChild(li);
                    }
                });
    }

    function addPlaylist(obj) {
        $.ajax ({
            url : "ajaxAddPlaylist",
            type: "post",
            data : {
                "userNo" : parseInt($('#userNo').val()),
                "name" : $.trim(($(obj).text()).split('-')[0]),
                "artist" : $.trim(($(obj).text()).split('-')[1])
            },
            datatype: "json",
            success: function(data) {
                alert("플레이리스트에 추가되었습니다.");
                $(obj).css('color','#3f3f3f');
            }
        })
    }

</script>
        {{>layouts/footer}}
    {{^loginUser}}
        <script>
            $(document).ready(function () {
                alert("로그인이 필요합니다.")
                window.location.replace("http://localhost:8985/login");
            });

        </script>
    {{/loginUser}}