<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/notice.css" />
    <style>
        .main-header2 {
            padding: 20px;
        }
        .notice_category2 {
            border: 1px solid white;
            border-radius: 10px;
            border-style: hidden;
            box-shadow: 0 0 0 1px #808080;
            margin-left: 70px;
            margin-top: 130px;
            border-collapse: collapse;
            line-height: 50px;
            width: 150px;
            height: 150px;
            --position: fixed;
        }
    </style>
</head>
<body>
<div id="main-all">


    <div class="main-header2">
        <h2>공지사항</h2>
        <hr>
    </div>
    <div class="notice_content_container">
        <aside>
            <table class="notice_category2">
                <tbody>
                <tr>
                    <td class="side_td">
                        <a href="/notice">공지사항</a>
                    </td>
                </tr>
                <tr>
                    <td class="side_td">
                        <a href="/qna">Q&A</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </aside>
        <div class="notice_all_container" style="overflow: scroll; height: 400px;">
            <table class="notice_all">
                <tbody>
                <tr>
                    <th class="table_no">
                        번호
                    </th>
                    <th class="table_subject">
                        제목
                    </th>
                    <th class="table_writer">
                        작성자
                    </th>
                    <th class="table_writer">
                        작성날짜
                    </th>
                </tr>
                <form action="/notice">
                    {{#noticeList}}
                        <tr>
                            <td>
                                {{rowNum}}
                            </td>
                            <td>
                                <a href="/noticeDetail?csNo={{csNo}}">{{csSubject}}</a>
                            </td>
                            <td>
                                {{userName}}
                            </td>
                            <td>
                                {{csDate}}
                            </td>
                        </tr>
                    {{/noticeList}}
                </form>
                </tbody>
                <tfoot>
                <tr align="center">
                    <td class="td_page" colspan="3">
                        <span>{{{paging}}}</span>
                    </td>
                    <form action="/noticeWrite">
                        {{#loginUser.userType}}
                            <td class="td_wr"><button class="td_btn" type="button" onclick="location.href = '/noticeWrite'">글쓰기</button></td>
                        {{/loginUser.userType}}
                    </form>
                </tr>
                <tr>
                    <td colspan="4">
                        <form action="/noticeSearch" method="get">
                            <select name="searchCondition">
                                <option class="option" value="all">전체</option>
                                <option class="option" value="userName">작성자</option>
                                <option class="option" value="subject">제목</option>
                                <option class="option" value="content">내용</option>
                            </select>
                            <input type="text" class="input_text" name="searchValue" placeholder="검색어를 입력해주세요.">
                            <input type="submit" class="input_submit" value="검색">
                        </form>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
</html>