{{>layouts/sidebar}}
<link rel="stylesheet" href="/myPageStyle.css">

<!-- content -->
<main class="body">
    <nav class="navbar sticky-top mb-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex"></div>
            <!-- <i class="fa-solid fa-chevron-left chevrons"></i><i class="fa-solid fa-chevron-right chevrons"></i> -->
        </div>

        <div class="d-flex align-items-center" id="rightnav">
            <div style="margin-right: 1rem">
            </div>
            {{#loginUser}}
                <div style="margin-right: 1rem; display: flex" class="message">
                    <div class="msg-area" id="msg-box" >
                        <div class="msg-user-list-box" style=" float: left;">
                            <div class="msg-user-list">
                                <ul class="msg-user-list-ul">
                                </ul>
                            </div>
                            <div class="new-msg-user-list">새로운 메시지</div>
                        </div>
                        <div class="msg-content-box">
                            <div class="msg-box" >

                            </div>

                        </div>
                        <div class="msg-input-box" style="display: inline-block; flex-direction: row;float:left;">
                            <div class="in" style=" height: 100%; width: 495px; background-color: #F2F3F5;  float:left;">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="msg-toggle-btn" id="msg-btn" onclick="msgToggle();"></button>
                </div>
                <div class="dropdown" id="myPageDropDown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 25px;">
                        <!-- 유저 이미지 -->
                        {{#loginUser.userFilename}}
                            <img src="{{loginUser.userFilename}}"
                                 style="width: 30px; height: 30px; border-radius: 50%" class="dropdown-pic"/>
                        {{/loginUser.userFilename}}
                        {{^loginUser.userFilename}}
                            <img src="../img/abstract-user-flat-3.svg"
                                 style="width: 30px; height: 30px; border-radius: 50%" class="dropdown-pic"/>
                        {{/loginUser.userFilename}}
                        <!-- 유저이름 -->
                        &nbsp;&nbsp;{{userName}}&nbsp;&nbsp;
                    </button>
                    <input type="hidden" value="{{loginUser.userNo}}" id="userNo">
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                        {{#loginUser.userType}}
                            <li><a class="dropdown-item" href="/admin2">관리자페이지</a></li>
                        {{/loginUser.userType}}
                        {{^loginUser.userType}}
                            <li><a class="dropdown-item" href="/mypage">마이페이지</a></li>
                        {{/loginUser.userType}}
                        <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                    </ul>
                </div>
            {{/loginUser}}
            {{^loginUser}}
                <button type="button" onclick="location.href='/login'" class="btn btn-dark dropdown-toggle2" >로그인</button>
            {{/loginUser}}
        </div>
        </div>
    </nav>

    <div class="margin-top" id="result">
        <h3 class="greeting mb-3">Trending now</h3>
    </div>
    <div>
        <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-xl-2 g-xxl-3" id="topsidecards">
            <div class="col" id="top-buttons">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://www.adobe.com/express/create/cover/media_1a853fd182c6e60cdbc8d24538ff63f378b5181c8.jpeg?width=400&format=jpeg&optimize=medium"
                                 class="img-fluid rounded-start" style="height: 100%; min-width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://d1csarkz8obe9u.cloudfront.net/themedlandingpages/tlp_hero_album-covers-d12ef0296af80b58363dc0deef077ecc-1552649680.jpg"
                                 class="img-fluid rounded-start" style="height: 100%; width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://www.musicnotes.com/now/wp-content/uploads/the-miracle-queen.jpg"
                                 class="img-fluid rounded-start" style="height: 100%; width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://www.sleek-mag.com/wp-content/uploads/2016/08/AlbumCovers_Blonde-1200x1200.jpg"
                                 class="img-fluid rounded-start" style="height: 100%; width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://www.rockarchive.com/media/1890/david-bowie-db001duffy.jpg?crop=0.19186424300418511,0.18786141133986681,0.20427102269629802,0.20827385436061632&cropmode=percentage&width=800&height=800&rnd=132951122240000000&overlay=watermark.png&overlay.size=230,20&overlay.position=0,780"
                                 class="img-fluid rounded-start" style="height: 100%; width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="http://cdn.cnn.com/cnnnext/dam/assets/210326104449-02-rizzoli-album-art-covers-restricted.jpg"
                                 class="img-fluid rounded-start" style="height: 100%; width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://media.npr.org/assets/img/2012/12/07/mellon-collie-and-the-infinite-sadness---cover-art_custom-a7b8e04bc3d49db97a1d9aea22fd04581200e417.jpg"
                                 class="img-fluid rounded-start" style="height: 100%; width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://blog.dozmia.com/content/images/2019/01/Portrait-The-Weeknd.jpg"
                                 class="img-fluid rounded-start" style="height: 100%; width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://upload.wikimedia.org/wikipedia/en/5/5b/Kavinsky_Nightcall_2010.png"
                                 class="img-fluid rounded-start" style="height: 100%; width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="background-card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/rap-album-cover-isaiah-morris.jpg"
                                 class="img-fluid rounded-start" style="height: 100%; width: 100%" alt="..." />
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <!-- <h5 class="card-title">Card title</h5> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="greeting mb-3 mt-3">Top Albums</h3>
    <div class="container-fluid">
        <div class="row row-cols-7 g-3" id="midsidecards">

        </div>
    </div>

    <script>
        const API_KEY = "5aab513055fea4a2802fbd695ea148a9";
        const artistName = "Artist Name";
        const limit = 8;
        const apiUrl = `http://ws.audioscrobbler.com/2.0/?method=artist.getTopAlbums&artist=${encodeURIComponent(
                artistName
        )}&limit=${limit}&api_key=${API_KEY}&format=json`;

        // Fetch Data from API
        fetch(apiUrl)
                .then((response) => response.json())
                .then((data) => {
                    // Get the Container Element
                    const container = document.getElementById("midsidecards");

                    // Loop through each Album and Create a Card
                    data.topalbums.album.forEach((album) => {
                        const card = document.createElement("div");
                        card.classList.add("col");

                        const cardBody = document.createElement("div");
                        cardBody.classList.add("card", "h-100");

                        const img = document.createElement("img");
                        img.src = album.image[3]["#text"];
                        img.classList.add("card-img-top", "img-fluid", "rounded-start");

                        const cardBodyContent = document.createElement("div");
                        cardBodyContent.classList.add("card-body");

                        const title = document.createElement("h5");
                        title.classList.add("card-title");
                        title.innerText = album.name;

                        const artist = document.createElement("p");
                        artist.classList.add("card-text");
                        artist.innerText = album.artist.name;

                        cardBodyContent.appendChild(title);
                        cardBodyContent.appendChild(artist);
                        cardBody.appendChild(img);
                        cardBody.appendChild(cardBodyContent);
                        card.appendChild(cardBody);

                        container.appendChild(card);
                    });
                });
    </script>


    <div class="margin-top">
            <span>
                <h3 class="greeting mb-1 mt-3">Shows to try</h3>
                <p class="text-muted">Podcasts we think you'll get hooked on.</p>
            </span>
        <div>
            <div class="container-fluid">
                <div class="row row-cols-sm-2 row-cols-md-3 row-cols-xl-7 g-4" id="bottomsiderow">
                    <div class="col-xl-2 transition-play">
                        <div class="card" id="darker">
                            <img src="https://i.pinimg.com/originals/45/22/8f/45228f8cd8ac51b0db4e1b64e5db2a4c.jpg"
                                 class="card-img-top p-2" alt="..." />

                            <div class="card-body">
                                <h5 class="card-title">Chill</h5>
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <p class="card-text">Chill lofi hip-hop mix.</p>
                                    <i class="fa-solid fa-play 2-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 transition-play">
                        <div class="card h-100" id="darker">
                            <img src="https://images.unsplash.com/photo-1624339389686-cfca209567df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YWVzdGhldGljJTIwc2t5fGVufDB8fDB8fA%3D%3D&w=1000&q=80"
                                 class="card-img-top p-2 aspect-ratio-one-to-one" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Feel Good</h5>
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <p class="card-text">Chill lofi hip-hop mix.</p>
                                    <i class="fa-solid fa-play 2-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 transition-play">
                        <div class="card h-100" id="darker">
                            <img src="https://pbs.twimg.com/media/EIFEWqVU8AAw07Z.jpg" class="card-img-top p-2"
                                 alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <p class="card-text">Chill lofi hip-hop mix.</p>
                                    <i class="fa-solid fa-play 2-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 transition-play">
                        <div class="card h-100" id="darker">
                            <img src="https://hips.hearstapps.com/hmg-prod/images/archetypes-1661260594.jpeg"
                                 class="card-img-top p-2" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <p class="card-text">Chill lofi hip-hop mix.</p>
                                    <i class="fa-solid fa-play 2-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 transition-play">
                        <div class="card h-100" id="darker">
                            <img src="https://lite-images-i.scdn.co/image/ab6765630000ba8a74ab03748c1f2e843974a968"
                                 class="card-img-top p-2" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <p class="card-text">Chill lofi hip-hop mix.</p>
                                    <i class="fa-solid fa-play 2-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 transition-play">
                        <div class="card h-100" id="darker">
                            <img src="https://images.squarespace-cdn.com/content/v1/5ffdb7a83ff3ea0604bdfef2/0b181a38-bd03-4c82-9f89-210cc302b3d0/1024x1024+IG.jpg"
                                 class="card-img-top p-2" alt="..." />
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <div class="d-flex align-items-baseline justify-content-between">
                                    <p class="card-text">Chill lofi hip-hop mix.</p>
                                    <i class="fa-solid fa-play 2-xl"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{#loginUser}}
<!--    <script src="message.js"></script>-->
{{/loginUser}}
{{>layouts/footer}}
