    {{>layouts/sidebar}}
{{#loginUser.userNo}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="/library.css">
<script>
    $(document).ready(function(){
        msgUserSearchFunc();
    });
</script>
<!-- sidebar -->
<main class="body" id="body-mypage">
    <nav class="navbar sticky-top mb-3" id="navbar-mypage">
        <div class="d-flex align-items-center justify-content-between" id="d-flex-mypage">
            <div class="d-flex"></div>
            <!-- <i class="fa-solid fa-chevron-left chevrons"></i><i class="fa-solid fa-chevron-right chevrons"></i> -->
        </div>
<!--        <button onclick="test111()" value="asdasd" style="width: 30px;height: 30px;"></button>-->
        <div class="d-flex align-items-center" id="rightnav">
            <button type="button" class="modify-btn"></button>

            <div style="margin-right: 1rem; display: flex" class="message">

                <div class="msg-area" id="msg-box">
                    <div class="msg-user-list-box" style=" float: left;">
                        <div class="msg-user-list">
                        <ul class="msg-user-list-ul">
                        </ul>
                        </div>
                        <div class="new-msg-user-list">새로운 메시지</div>
                    </div>
                    <div class="msg-content-box">
                        <div class="msg-box" >

                        </div>

                    </div>
                    <div class="msg-input-box" style="display: inline-block; flex-direction: row;float:left;">
                        <div class="in" style=" height: 100%; width: 495px; background-color: #F2F3F5;  float:left;">
                        </div>
                    </div>
                </div>
                <button type="button" class="msg-toggle-btn" id="msg-btn" onclick="msgToggle();"></button>
            </div>
            <div class="dropdown" id="myPageDropDown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 25px;">
                    <!-- 유저 이미지 -->
                    {{#loginUser.userFilename}}
                        <img src="{{loginUser.userFilename}}"
                             style="width: 30px; height: 30px; border-radius: 50%" class="dropdown-pic"/>
                    {{/loginUser.userFilename}}
                    {{^loginUser.userFilename}}
                        <img src="../img/abstract-user-flat-3.svg"
                             style="width: 30px; height: 30px; border-radius: 50%" class="dropdown-pic"/>
                    {{/loginUser.userFilename}}
                    <!-- 유저이름 -->
                    &nbsp;&nbsp;{{loginUser.userName}}&nbsp;&nbsp;
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/mypage">마이페이지</a></li>
                    <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="margin-top">
        <h2 class="greeting mb-3">Library</h2>
        <div class="profile">
            <div class="profile-img"></div>

            <!--             닉네임 들어갈곳-->
            <input type="hidden" value="{{loginUser.userNo}}" id="userNo">
            <div class="profile-name"><h1 class="profile-name-h1">{{myPage.userName}}</h1></div>
            <div class="profile-letter"><span class="profile-letter-span">{{#myPage.userProfileLetter}}{{{myPage.userProfileLetter}}}{{/myPage.userProfileLetter}}</span></div>
        </div>
    </div>
        <br>
{{/loginUser.userNo}}

<!--라이브러리 추가할 곳-->
        <input type="hidden" id="userNo" value="{{loginUser.userNo}}">
    <div id="library">
        <div id="library-playlist">
            <h4 id="playlist-header" style="float: left">내 플레이리스트</h4> &nbsp;&nbsp;&nbsp;
            <i class="fa-solid fa-headphones" style="color: #dedede; cursor:pointer;"></i>


            <div class="container" style="overflow: scroll; height: 500px;">
<!--                노래 들어갈 곳-->
                <ul>
                    {{#myPlaylist}}
                        <li id ="song-list">
                            <div id="songId" style="float: left;">{{playlistSong}} - {{playlistArtist}}</div>
                            &nbsp;&nbsp;&nbsp;
                            <i class="fa-solid fa-trash" onclick="deleteMusic(this)" style="color: #dedede; cursor:pointer;"></i>
                        </li>
                    {{/myPlaylist}}
                </ul>
            </div>
        </div>
        <div id="library-like">
            <h4 id="like-header">내 좋아요</h4>
            <div class="container">
<!--                좋아요 한 노래 들어갈 곳-->
            </div>
        </div>
    </div>



</main>

<script src="mypage.js"></script>
<script src="message.js"></script>
<script>
    function test123() {
        console.log(3);
    }

    function deleteMusic(obj) {
        //console.log(3);
        //console.log($.trim(($(obj).parent().siblings('.song-list').val()).split('-')[0]));
        //console.log($(obj).siblings('#songId').text());

        console.log(parseInt($('#userNo').val()));
        console.log($.trim(($(obj).siblings('#songId').text()).split('-')[0]));
        console.log($.trim(($(obj).siblings('#songId').text()).split('-')[1]));
        //$(obj).parent().remove(); 삭제하는 코드
        let playlistSong = $.trim(($(obj).siblings('#songId').text()).split('-')[0]);
        let playlistArtist = $.trim(($(obj).siblings('#songId').text()).split('-')[1]);

        //song
        //$.trim(($(obj).siblings('#songId').text()).split('-')[0])

        //artist
        //$.trim(($(obj).siblings('#songId').text()).split('-')[1])

        //삭제하는 코드
        //$(obj).parent().remove();


        const deleteMusicData = {
            "userNo" : parseInt($('#userNo').val()),
            "playlistSong" : playlistSong,
            "playlistArtist" : playlistArtist
        }
        $.ajax(
                {
                    type: "post",
                    url: "/ajaxDeletePlaylist",
                    data: deleteMusicData,
                    dataType: "json",
                    success : function (data) {
                        console.log(data);
                        $(obj).parent().remove();
                        alert("삭제되었습니다.");
                    }

                }
        )

    }
</script>
    {{#loginUser.userId}}
        {{>layouts/footer}}
    {{/loginUser.userId}}

    {{^loginUser.userId}}
    {{>layouts/footer}}
    <script>
        $(document).ready(function () {
            alert("로그인이 필요합니다.");
            window.location.replace("http://localhost:8985/login");
       });
    </script>
    {{/loginUser.userId}}