<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/login.css" />
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js"charset="utf-8"></script>
</head>
<body>
<a class="main-logo" href="/">
    <div class="text-light heading d-flex align-items-center justify-content-flex-start mt-3">
        <i class="fa-regular fa-mango mx-3 p-1"></i> Mango Music
    </div>
</a>
<div class="login-box">
    <form method="post" action="/login" id="login-form">
        <h2>Login</h2>
        <div class="user-box">
            <input type="text" name="user-id" placeholder="ID">
            <!--                    <label>ID</label>-->
        </div>
        <div class="user-box">
            <input type="password" name="user-pw" placeholder="Password">
            <!--                    <label>PW</label>-->
        </div>
        <div id="findIdPw">
            <a class="find" href="/findId">아이디 찾기</a>
            <span class="find">/</span>
            <a class="find" href="/findPw">비밀번호 찾기</a>
        </div>
        <div id="login-btn">
            <button type="submit" id="login-b" class="login-btn">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                로그인
            </button>
            <button type="button" class="login-btn" onclick="location.href='/register'">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                회원가입
            </button>
        </div>
        <div class="snsLogin">
            <a class="sns" href="#"><img class="login-logo" src="Login_img/btn_google_signin_light_focus_web@2x.png" alt="구글 로그인"></a> <br>
            <a class="sns" href="#"><img class="login-logo" src="Login_img/btnG_완성형.png" alt="네이버 로그인"></a> <br>
            <a class="sns" href="#"><img class="login-logo" src="Login_img/kakao_login_large_wide.png" alt="카카오 로그인"></a> <br>
        </div>
    </form>
</div>
<script>
    {{#error}}
        window.onload = function() {
            alert("아이디 또는 비밀번호를 확인해주세요.")
        }
    {{/error}}
    {{#success}}
        window.onload = function() {
            alert("축하합니다. 회원가입에 성공하셨습니다.")
        }
    {{/success}}
    {{#findId}}
        window.onload = function () {
            window.open('/newFind?userName={{user.userName}}&userEmail={{user.userEmail}}','','bottom=600, left=800, width=500, height=300');
        }
    {{/findId}}
    {{#findPw}}
        window.onload = function () {
            window.open('/updatePw?userId={{user.userId}}&userName={{user.userName}}&userEmail={{user.userEmail}}','','bottom=600, left=800, width=500, height=300');
        }
    {{/findPw}}
    {{#su}}
    window.close();
    {{/su}}
</script>
</body>
</html>