<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>회원 로그인</title>
        <style>
            #main {
                border: 1px solid black;
                margin: auto;
                padding: 20px;
            }
            #button-area {
                margin-top: 20px;
                --text-align: center;
                flex-direction: row;
                align-items: stretch;
            }
            .btn {
                width: 500px;
                height: 80px;
            }
        </style>
    </head>
    <body>
        <main class="body">
            <h1>로그인</h1>
            <form action="/login" method="post">
                <input type="text" class="login" name="userId" placeholder="ID를 입력해주세요"> <br>
                <input type="password" class="login" name="userPw" placeholder="PW를 입력해주세요">
            </form>
            <div id="button-area">
                <button class="btn"><a href="#">로그인</a></button>
                <br><br><br>
                <button class="btn"><a href="#">구글 로그인</a></button>
                <br><br>
                <button class="btn"><a href="#">네이버 로그인</a></button>
                <br><br>
                <button class="btn"><a href="#">카카오 로그인</a></button>
                <br><br><br>
                <button><a href="/register">회원가입</a></button>
                <button><a href="#">아이디 찾기</a></button>
                <button><a href="#">비밀번호 찾기</a></button>
            </div>
        </main>
    </body>
</html>