<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mango Music</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-Mc5Qjl0LCzJmr8vYE7X1CPkZXIL+7nWgpC8+K7V/cIkYpPck+VWcdx/zecT77Jlk70I+LzSzm1np99kaJvAnQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/Album/styles.css" />
    <link rel="stylesheet" href="../static/css/myPageStyle.css" />
</head>

<body>
<div class="navbar-custom d-none d-lg-block d-xl-block d-xxl-block" id="navbar-mypage">
    <ul class="navbar-nav">
        <li class="nav-item my-3">
            <a href="/static">
            <div class="text-light heading d-flex align-items-center justify-content-flex-start mt-3">
                <i class="fa-regular fa-mango mx-3 p-1"></i>Mango Music
            </div>
            </a>
        </li>
        <li class="nav-item">
            <button type="button"
                    class="btn w-100 h-50 py-md-2 text-light button-hover text-left d-flex align-items-center justify-content-around"
                    style="height: 60px">
                <i class="fa-solid fa-house mx-3"></i>
                <div class="w-75 d-flex">
                    <a class="gotohome" href="../static/index.html">홈</a>
                </div>
            </button>
        </li>
        <li class="nav-item">
            <button type="button"
                    class="btn w-100 h-50 py-md-2 text-light button-hover text-left d-flex align-items-center justify-content-around"
                    style="height: 60px">
                <i class="fa-solid fa-magnifying-glass mx-3"></i>
                <div class="w-75 d-flex">
                    <a class="gotohome" href="./Search/search.html">검색하기</a>
                </div>
            </button>
        </li>
        <li class="nav-item">
            <button type="button"
                    class="btn w-100 h-50 py-md-2 text-light button-hover text-left d-flex align-items-center justify-content-around"
                    style="height: 60px">
                <i class="fa-regular fa-bookmark mx-3"></i>
                <div class="w-75 d-flex">내 라이브러리</div>
            </button>
        </li>
        <li class="nav-item margin-top">
            <button type="button"
                    class="btn w-100 h-50 py-md-2 text-light button-hover text-left d-flex align-items-center justify-content-around"
                    style="height: 60px">
                <i class="fa-solid fa-plus mx-2"></i>
                <div class="w-75 d-flex">플레이리스트 만들기</div>
            </button>
        </li>
        <li class="nav-item">
            <button type="button"
                    class="btn w-100 h-50 py-md-2 text-light button-hover text-left d-flex align-items-center justify-content-around"
                    style="height: 60px">
                <i class="fa-solid fa-heart mx-2"></i>
                <div class="w-75 d-flex">좋아요 표시한 곡</div>
            </button>
        </li>
    </ul>
    <div>
        <span class="m-3 download"><i class="fa-regular fa-circle-down mt-3"></i> Install App</span>
    </div>
</div>
<main class="body" id="body-mypage">
    <nav class="navbar sticky-top mb-3">
        <div class="d-flex align-items-center justify-content-between" id="d-flex-mypage">
            <div class="d-flex"></div>
            <!-- <i class="fa-solid fa-chevron-left chevrons"></i><i class="fa-solid fa-chevron-right chevrons"></i> -->
        </div>

        <div class="d-flex align-items-center" id="rightnav">
            <div style="margin-right: 1rem">
            </div>
            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 25px;">
                        <!-- 유저 이미지 -->
                    <img src="/img/abstract-user-flat-3.svg"
                        style="width: 30px; height: 30px; border-radius: 50%" />
                        <!-- 유저이름 -->
                    &nbsp;&nbsp;서정민&nbsp;&nbsp;
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="./Login/login.html">로그아웃</a></li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
    <div class="margin-top">
        <h2 class="greeting mb-3">MyPage</h2>
        <div class="profile">
            <div class="profile-img"></div>
            
            <!-- 닉네임 들어갈곳 -->
            <div class="profile-name"><h1>서정민</h1></div>
            <div class="profile-letter"><span>저는 서정민입니다. KH정보교육원에 다닙니다.</span></div>
        </div>
    </div>

    <div class="margin-top" id="mypage-content-container">
        <div class="mypage-content-left">
            <div class="point">
                <!-- 포인트 값 -->
                <span class="point-value">1,000 <span class="point-value-text">Mango</span></span>
            </div>
            <div class="point-button-container">
                <button type="button" class="point-button" >충전</button>
                <button type="button" class="point-button">출금</button>
            </div>
        </div>
        <div class="mypage-content-right">
            <button>Follow</button>
        </div>
        <div class="mypage-content-right">
            <h1>거래내역</h1>
        </div>

    </div>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/8539ff3369.js" crossorigin="anonymous"></script>
<script src="../static/home.js"></script>
</body>

</html>