{{>layouts/sidebar}}
<link rel="stylesheet" href="css/notice.css" />
<main>

    <div id="main-all">

        <form action="/notice">
            <div class="main-header">
                <h2>공지사항</h2>
                <hr>
            </div>
            <div class="notice_content_container">
                <aside>
                    <table class="notice_category">
                        <tbody>
                        <tr>
                            <td class="side_td">
                                <a href="notice">공지사항</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="side_td">
                                <a href="Q&A">Q&A</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </aside>
                <div class="notice_all_container" style="overflow: scroll; height: 600px;">
                    <table class="notice_all">
                        <tbody>
                        <tr>
                            <th class="table_no">
                                번호
                            </th>
                            <th class="table_subject">
                                제목
                            </th>
                            <th class="table_writer">
                                작성자
                            </th>
                            <th class="table_writer">
                                작성날짜
                            </th>
                        </tr>
                        {{#noticeList}}
                        <tr>
                            <td>
                                {{rowNum}}
                            </td>
                            <td>
                                <a href="/cDetail?csNo=${{csNo}}">{{csSubject}}</a>
                            </td>
                            <td>
                                {{userName}}
                            </td>
                            <td>
                                {{csDate}}
                            </td>
                        </tr>
                        {{/noticeList}}
                        </tbody>
                    </table>
                </div>

                <div class="writer_btn">
                    <button type="button" onclick="location.href = '/notice_wr'">글쓰기</button>
                </div>

            </div>
        </form>
    </div>
</main>
{{>layouts/footer}}