{{>layouts/sidebar}}
<link rel="stylesheet" href="css/notice.css" />
<main>

    <div id="main-all">
        <form action="/notice">
            <div class="main-header">
                <h2>고객센터</h2>
                <hr>
            </div>
            <div class="notice_content_container">
                <aside>
                    <table class="notice_category">
                        <tbody>
                        <tr style="text-align: center;">
                            <th>
                                안내사항
                            </th>
                        </tr>
                        <tr>
                            <td class="side_td">
                                <a href="notice">공지사항</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="side_td">
                                <a href="Q&A">Q&A</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </aside>
                <section class="notice_all_container">
                    <table class="notice_all"  style="overflow: auto;">
                        <tbody>
                        <tr>
                            <th class="table_no">
                                번호
                            </th>
                            <th class="table_subject">
                                제목
                            </th>
                            <th class="table_writer">
                                작성자
                            </th>
                            <th class="table_writer">
                                작성날짜
                            </th>
                        </tr>
                        {{#noticeList}}
                        <tr>
                            <td>
                                {{rowNum}}
                            </td>
                            <td>
                                <a href="#">{{csSubject}}</a>
                            </td>
                            <td>
                                {{userName}}
                            </td>
                            <td>
                                {{csDate}}
                            </td>
                        </tr>
                        {{/noticeList}}
                        </tbody>
                    </table>
                </section>
            </div>
        </form>
    </div>
</main>
{{>layouts/footer}}