{{>layouts/sidebar}}
<link rel="stylesheet" href="css/nDetail.css" />
<main>
    <nav class="navbar sticky-top mb-3" id="navbar-mypage">
        <div class="d-flex align-items-center justify-content-between" id="d-flex-mypage">
            <div class="d-flex"></div>
            <!-- <i class="fa-solid fa-chevron-left chevrons"></i><i class="fa-solid fa-chevron-right chevrons"></i> -->
        </div>

        <div class="d-flex align-items-center" id="rightnav">
            <div style="margin-right: 1rem">
            </div>
            {{#loginUser}}
                <div class="dropdown" id="myPageDropDown">
                    <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false" style="border-radius: 25px;">
                        <!-- 유저 이미지 -->
                        <img src="../img/abstract-user-flat-3.svg"
                             style="width: 30px; height: 30px; border-radius: 50%" />
                        <!-- 유저이름 -->
                        &nbsp;&nbsp;{{userName}}&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                        {{#loginUser.userType}}
                            <li><a class="dropdown-item" href="/admin">관리자페이지</a></li>
                        {{/loginUser.userType}}
                        {{^loginUser.userType}}
                            <li><a class="dropdown-item" href="/mypage">마이페이지</a></li>
                        {{/loginUser.userType}}
                        <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                    </ul>
                </div>
            {{/loginUser}}
            {{^loginUser}}
                <button type="button" onclick="location.href='/login'" class="btn btn-dark dropdown-toggle2" >로그인</button>
            {{/loginUser}}
        </div>
    </nav>
    <div id="main-all">
        <div class="main-header">
            <h2>Q&A</h2>
            <hr>
        </div>
        <div id="content_box">
            <div class="notice_content_container">
                <h3>제목 : {{cs.csSubject}}</h3>
                <br>
                <small>작성자 : {{cs.userName}} / 작성날짜 : {{cs.csDate}}</small>
                <hr>
                <br>
                <div class="main_content">
                    {{cs.csContent}}
                </div>
                <br>
                <hr>
                <div class="div-a-tag">
                {{^loginUser.userType}}
                    <a class="a-tag" href="/qnaModify?csNo={{cs.csNo}}">수정</a>
    <!--                <a href="#">수정</a>-->
                    <a class="a-tag" href="javascript:void(0);" onclick="removeCheck({{cs.csNo}});">삭제</a>
                {{/loginUser.userType}}
                </div>
            </div>
            <!-- Comments Form -->
            <div class="comment-all">
                <h5>Comment</h5>
                <div class="comment_main">
                    <form action="/commentWrite" method="post">
                        <div class="comment_textarea">
                            <textarea name="commentContent" class="comment" rows="3"></textarea>
                        </div>
                        {{#loginUser}}
                            <div>
                                <div>
                                <input type="hidden" name="csNo" value="{{cs.csNo}}">
                                </div>
                                <div class="btn_submit">
                                <input type="submit" class="cm_btn" value="댓글 등록">
                                </div>
                            </div>
                        {{/loginUser}}
                    </form>
                    <form name="comment-form" action="/qnaSearch" method="post" autocomplete="off">
                        {{#cmList}}
                        <div class="cmContent_main">
                            <div class="cmName">
                                {{{userName}}}&nbsp;<small>{{{commentDate}}}</small> &nbsp; &nbsp;
                                <a class="cmRemove_tag" href="javascript:void(0);" onclick="cmRemoveCheck({{csNo}});">삭제</a>
                            </div>
                            <div class="cm_cm">
                                {{{commentContent}}}
                            </div>
                        </div>
                        {{/cmList}}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function removeCheck(csNo) {
            if (confirm("정말 삭제하시겠습니까?")) {
                location.href="/qnaRemove?csNo=" + csNo;
            }
        }
        function cmRemoveCheck(commentNo) {
            if (confirm("정말 삭제하시겠습니까?")) {
                location.href="/qnaRemove?csNo=" + csNo;
            }
        }
        {{#comment}}
            window.onload = function (){
                alert("로그인 후 이용 바랍니다.");
            }
        {{/comment}}
            {{#error}}
            window.onload = function() {
                alert("로그인 후 사용하세요")
            }
            {{/error}}
    </script>
</main>
{{>layouts/footer}}